<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "AppNerilan/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    <h1>Acerca de mi</h1>
    <h2>    Soy un estudiante de la Facultad de Ingenieria(Fing), 
    <h2>de la Universidad de Republica en Uruguay(UdelaR).</h2>
    <h2>Estoy en tercer año de Ingenieria Industrial Mecanica y </h2>
    <h2>en este momento estoy cursando mediante CoderHouse la </h2>
    <h2> que en futuro va a ser imperativo el conocimiento de </h2>
    <h2> programacion en toda las ramas de la ingenieria. </h2>
    <h2> Incluir el manejo de SQL o Desarrollo Web tambien potenciaran</h2>
    <h2> mis oportunidades de conseguir un trabajo y tambien volverme </h2>
    <h2> mas profesional.</h2>
    <h2>  Agradesco por esta oportunidad, y tambien a quien pueda llegar </h2>
    <h2> a usar mi proyectofinal.</h2>
    <h2>                                          Atte:Nicolas Morales <h2>                                                                           
     {% endblock %}
</body>
</html>