<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "AppNerilan/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    <h1>Editar Elección</h1>
    <form method="POST">
        {% csrf_token %}
        <p>
        Artículo: {{ eleccion.articulo.nombre }}
        <input type="hidden" name="articulo" value="{{ eleccion.articulo.id }}">
        </p>
        <p>
        Cantidad:
        <input type="number" name="cantidad" value="{{ eleccion.cantidad }}">
        </p>
        <p>
        Comentario:
        <textarea name="comentario">{{ eleccion.comentario }}</textarea>
        </p>
        <button type="submit">Guardar cambios</button>
    </form>
    {% endblock %}
</html>