<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "AppNerilan/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    <h1>"Esta es la pantalla de los empleados"</h1>
    <form action="{% url 'empleado' %}"    method="post">{% csrf_token %}
        <p> Nombre: <input type = "text" name="nombre"></p>
        <p> Antiguedad: <input type = "number" name="Antiguedad"></p>
        <p> Email: <input type = "email" name="Email"></p>
        <input type = "submit" value="Enviar">
     </form>
    {% endblock %}
      
</body>
</html>