<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "AppNerilan/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    <h1>"Esta es la pantalla de las finanzas"</h1>
    <form action="/finanzas/"    method="post">{% csrf_token %}
        <p> Gastos: <input type = "number" name="Gastos"></p>
        <p> Ganancias: <input type = "number" name="Ganancias"></p>
        <input type = "submit" value="Enviar">
    </form>
    {% endblock %}
     
</body>
</html>