<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends "AppNerilan/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
        <div class="text-center">
            <img height="60px" src="{{url}}">
            <h3>Que bueno verte {{user.username}}</h3>
        </div>
    {% endblock %}
       
</body>
</html>