<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "AppNerilan/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}
    <h1>Lista de Artículos</h1>

    {% if articulos %}
    <ul>
    {% for articulo in articulos %}
        <div class="articulo">
            <h2>{{ articulo.nombre }}</h2>
            <img src="{{ MEDIA_URL }}" alt="{{ articulo.nombre }}">
            <p>{{ articulo.descripcion }}</p>
            <p>Precio: {{ articulo.precio }}</p>
        </div>
    {% endfor %}
    </ul>
    {% else %}
    <p>No hay artículos disponibles</p>
    {% endif %}

    {% endblock %}

</body>
</html>