<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
            <a class="navbar-brand" href="{% url 'Empleado' %}">Empleado</a>
            <a class="navbar-brand" href="{% url 'Cliente' %}">Clientes</a>
            <a class="navbar-brand" href="{% url 'Finanzas' %}">Finanzas</a>
            <a class="btn btn-primary" href="#NADAAUN">INICIAR</a>
        </div>
    </nav>
    <h1>"Bienvenidos a la pagina de Nerilan"</h1>
</body>
</html>