{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'AppNerilan/css/styles.css' %}" rel="stylesheet" type="text/css">
    <img src="{% static 'AppNerilan/assets/img/mondelez2.png' %}">
</head>
<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'padre' %}">Inicio</a>
            <a class="navbar-brand" href="{% url 'empleado' %}">Empleado</a>
            <a class="navbar-brand" href="{% url 'cliente' %}">Clientes</a>
            <a class="navbar-brand" href="{% url 'finanzas' %}">Finanzas</a>
            <a class="btn btn-primary" href="{% url 'buscar' %}">Buscar</a>
        </div>
    </nav>
    <h1>"Bienvenidos a la pagina de Nerilan"</h1>
    
    {% block contenidoQueCambia %}
       
    {% endblock %}
</body>
</html>